
html {
    background-image: url("res/img/istockphoto-1198784356-612x612.jpg");
    background-repeat: repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    height: fit-content;
    padding: 10px;
}

a:hover {
    color:antiquewhite;
}

.btn-container {
    display: flex;
    flex-direction: row;
}

.btn-green {
    display: block;
    background-color: rgb(0, 152, 142);
    width: 200px;
    height: fit-content;
    text-align: center;
    border-radius: 10px;
    margin-right: 10px;
}

.btn-green:hover {
    background-color: rgb(0, 94, 94);
}

.btn-red {
    display: block;
    background-color: rgb(255, 0, 106);
    width: 200px;
    height: fit-content;
    text-align: center;
    border-radius: 10px;
}

.btn-red:hover {
    background-color: rgb(121, 0, 56);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: rgb(205, 55, 105);
}

.txt-question {
    display: block;
    text-align: center;
}

.txt-yes {

}

